/* CUSTOM CSS ADDITIONS */

:root {
  --size-small: 472px;
  --size-medium: 632px;
  --size-large: 872px;
  --size-xlarge: 1052px;
  --subtract: 40px;
  font-weight: 400 !important;
}

body .font-400 {
  font-weight: 400 !important;
}

.landing-container {
  height: calc(100vh - 3.75rem);
  padding-top: 3rem;
}

.landing-content {
  padding: 0 0.9375rem;
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
  text-align: center;
}

.outline-override {
  outline: 0 !important;
}

.main-sidebar {
  top: auto !important;
}

.edit-project {
  width: calc(100% - 50px);
  margin-right: 5px;
}

.sidebar-right {
  position: fixed;
  top: 67px;
  left: 5px;
  z-index: 1;
}

.bg-gray {
  background-color: #ddd;
}

.story {
  display: flex;
  align-items: center;
}

.label-right {
  justify-content: flex-end;
}

.button-view,
.tab-title {
  display: flex;
  justify-content: space-between;
}

.button-right {
  margin-left: auto;
  margin-right: 5px;
}

.sprint-select {
  width: auto;
}

.ticket-button {
  padding: 0.375rem 0.75rem;
}

.light-font th {
  font-size: 0.75rem;
  font-weight: 400;
}

/* .no-margin {
  margin: 0;
} */

.hide {
  display: none;
}

.demologin {
  margin: auto;
  cursor: pointer;
  width: 75px;
}

/* Extra small devices (portrait phones, up to 575px) */
@media only screen and (max-width: 575px) {
  .auth-form {
    min-width: 0 !important;
  }
  .hide-small {
    display: none;
  }
  .custom .react-kanban-board {
    width: calc(100vw - 85px);
  }
  .custom .react-kanban-column {
    width: calc(100vw - 100px);
  }
  .custom .react-kanban-card {
    width: calc(100vw - 130px);
  }
}

/* Small devices (576px and up) */
@media only screen and (min-width: 576px) {
  .hide-small {
    display: none;
  }
  .custom .react-kanban-board {
    width: calc(var(--size-small));
  }
  .custom .react-kanban-column {
    width: calc(var(--size-small) - 40px);
  }
  .custom .react-kanban-card {
    width: calc(var(--size-small) - 70px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-height {
    min-height: 63px;
  }
  .hide-large {
    display: none;
  }
  .custom .react-kanban-board {
    width: calc(var(--size-medium));
  }
  .custom .react-kanban-column {
    width: calc(var(--size-medium) - 40px);
  }
  .custom .react-kanban-card {
    width: calc(var(--size-medium) - 70px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-height {
    min-height: 62px;
  }
  .custom .react-kanban-board {
    width: calc(var(--size-large));
  }
  .custom .react-kanban-column {
    width: calc(var(--size-large) - 40px);
  }
  .custom .react-kanban-card {
    width: calc(var(--size-large) - 70px);
  }
}

/* Extra-Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .custom .react-kanban-board {
    width: calc(var(--size-xlarge));
  }
  .custom .react-kanban-column {
    width: calc(var(--size-xlarge) - 40px);
  }
  .custom .react-kanban-card {
    width: calc(var(--size-xlarge) - 70px);
  }
}

.custom .react-kanban-column {
  display: block !important;
}

.custom .react-kanban-card {
  display: flex;
  max-width: none;
  min-width: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -5px;
  bottom: auto;
  right: 110%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.no-overflow {
  overflow: hidden;
}

.no-hover {
  pointer-events: none;
}

.history-object {
  display: block;
}

.history-field {
  display: block;
  text-indent: 4rem;
}

.modal-scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 15px;
}

.width-100 {
  table-layout: fixed;
  width: 100%;
}

/* Large and Extra-large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .dashboard-container {
    height: calc(100vh - 62px);
    overflow: hidden;
  }

  .dashboard-right {
    height: calc(100vh - 182px);
    overflow-y: auto;
    padding-right: 15px;
  }

  .dashboard-left {
    height: calc((100vh - 182px) / 2);
    overflow-y: auto;
    padding-right: 15px;
  }

  .dashboard-gadget {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 15px;
  }
}

/* Medium devices and up(992px and up) */
@media only screen and (min-width: 768px) {
  .right {
    margin-left: auto;
  }
}

/* Extra small devices (portrait phones, up to 575px) */
@media only screen and (max-width: 575px) {
  .board .react-kanban-board {
    width: calc(100vw - 85px);
  }
  .board .react-kanban-column {
    width: calc(100vw - 100px);
  }
  .board .react-kanban-card {
    width: calc(100vw - 130px);
  }
  .board .react-kanban-column {
    display: block !important;
  }
  .board .react-kanban-card {
    display: flex;
    max-width: none;
    min-width: 0;
  }
}

/* Small devices (576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .board .react-kanban-board {
    width: calc(var(--size-small));
  }
  .board .react-kanban-column {
    width: calc(var(--size-small) - 40px);
  }
  .board .react-kanban-card {
    width: calc(var(--size-small) - 70px);
  }
  .board .react-kanban-column {
    display: block !important;
  }
  .board .react-kanban-card {
    display: flex;
    max-width: none;
    min-width: 0;
  }
}

/* Medium devices (up to 767px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .board .react-kanban-board {
    width: calc(var(--size-medium));
  }
  .board .react-kanban-column {
    width: calc(var(--size-medium) - 40px);
  }
  .board .react-kanban-card {
    width: calc(var(--size-medium) - 70px);
  }
  .board .react-kanban-column {
    display: block !important;
  }
  .board .react-kanban-card {
    display: flex;
    max-width: none;
    min-width: 0;
  }
}

.float-left {
  float: left;
}

.center {
  height: calc(100vh - 62px);
  text-align: center;
  line-height: 50vh;
}

.center-short {
  height: calc(100vh - 62px);
  text-align: center;
  line-height: 25vh;
}
